<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: #a2ccff;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form action="edit.html" id="edit-form" th:action="@{/edit(id=${book.id})}" th:method="post">
    <h1> Book info</h1>

    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="bookName" type="text" th:value="${book.bookName}" value="test-name"/>
    </div>

    <div class="row">
        <label for="author-input">Author:</label>
        <input id="author-input" name="author" type="text" th:value="${book.author.fullName}" value="test-author"/>
    </div>

    <div class="row">
        <label for="genre-input">Genres:</label>
        <input id="genre-input" name="genres" type="text" th:value="${book.genres}" value="genres-name"/>
    </div>
</form>

<form id="delete-form" action="/delete/book" th:action="@{/delete/book(id=${book.id})}" th:method="post"></form>

<div class="row">
    <button type="submit" name="button" form="edit-form">Save</button>
    <button type="submit" name="button" form="delete-form" value="delete">Delete</button>
</div>

</body>
</html>